body{
    background-color: #141414;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

li, ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.logo{
    padding: 30px;
    width: 100px;
    padding-left: 80px;
}

.profileImage{
    max-width: 150px;
    border-radius: 4px;

}

.profileName{
    font-size: 20px;
    color: grey;
}


.activeName{
    font-size: 20px;
    color: #d0d0d0;    
}

.activePhoto{
        max-width: 150px;
        display: block;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        border: .3em solid #d0d0d0;
}

.whosWatching{
    font-size: 3.5vw; color: white;
}
.container{
    display: grid;
    grid-template-columns: 180px 180px 180px 180px;
    justify-content: center;
}


/* Button Style */
.buttonStyle{
    justify-content: center;
    background-color: transparent;
    height: 60px;
    border: 1px solid grey;
    margin-top: 100px;
    
}

.textButton{
    color: grey;
    font-size: 25px;
    padding: 50px;
}

.textButton:hover{
    color: #d0d0d0;
}
.buttonStyle:hover{
    color: #d0d0d0;
    border:1px solid #d0d0d0;
    
    
}
