/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    font-family: 'Trebuchet MS', sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    background-color:#EEEDE7;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container{
    background-color: #EEEDE7;
    width: 900px;
    height: 500px;
}

.title{
    text-align: center;
    font-size: 36px;
    padding: 30px;
}

.sub-title{
    font-size: 18px;
    padding: 20px;
}

.body-container{
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.input-style{
    width: 70%;
    height: 30px;
    border-radius: 5px;
    border: none;
}

.select-style{
    height: 30px;
    border-radius: 5px;
    border: none;
}

.result-container{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}

.card{
    width: 200px;
    height: 170px;
    background-color: #E7D2CC;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-title{
    font-size: 18px;
}

.convert-button{
    width: 100px;
    border-radius: 5px;
    border: none;
    background-color: #B9B7BD;
    color: white;
}

.Grams{
    margin-top: 10px;
    font-size: 24px;
}